.square {
  background: #fff;
  border: 1px solid #d4cacd;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 32px;
  height: 128px;
  width: 128px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}